<div class="row">

	<div class="col-md-4">

		<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
		<br>
		<br>
	
	</div>

	<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Rent this Book?", new_book_path %></li>	</ul>

	<div class="col-md-8">

	<div class="book-info">
		<b><h2><%= @book.title %></b></h2>
		<h3><%= @book.author %></h3>
		<i><h4><%= @book.price %></h4></i>
		<p><%= @book.description %></p>
	</div>
	</div>


</div>

<div class="row">

	<div class="col-md-4">



	</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

	<% if @book.user_id == current_user.id %>

	<%= link_to "Edit", edit_book_path(@book) %>
	<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" } %>


	<% end %>

<% end %>